* { 
    margin: 0; 
    padding: 0; 
    font-family: Arial; 
    box-sizing: border-box; 
   } 
   body { 
    height: 653px; 
   top:30px; 
    overflow: hidden; 
    min-height: 100%; 
   } 
   .container { 
    display: flex; 
    background-color: rgb(6, 50, 107); 
   } 
   .container img { 
    width: 100px; 
    height: 100px; 
    margin: 4px 10px; 
   } 
   .container h1 { 
    margin: auto; 
    font-size: 50px; 
    text-shadow: 3.5px 0 rgb(241, 248, 144); 
   } 
   .navigation nav ul { 
    background-color: rgb(241, 248, 144); 
    display: flex; 
    padding: 10px; 
   } 
   .navigation nav ul li { 
    list-style: none;
  
   } 
   .navigation nav ul li a { 
    list-style: none; 
    text-decoration: none; 
    font-size: 25px; 
    padding: 5px 3px; 
    color: black; 
    margin: 14px 15px; 
   } 
   .navigation nav ul li a:hover { 
    cursor: pointer; 
    color: rgb(255, 255, 255); 
    transition: 0.6s ease; 
    border-radius: 3px; 
    background-color: rgb(252, 125, 125); 
   } 
   form { 
    background-color: rgb(7, 55, 109); 
    height: 100%; 
    width: 100%; 
   } 
   .formm h2 { 
    text-align: center; 
    font-family: Arial, Helvetica, sans-serif; 
   padding-top: 2%; 
    font-size: 1.9rem; 
     
    color: rgb(203, 234, 243); 
   } 
   .reg-detail { 
    color: rgb(179, 88, 4); 
    border: 3px solid rgb(255, 255, 255); 
    margin: 1%; 
    margin-left: 15%; 
    width: 70%; 
    height: 70%; 
    border-radius: 6px; 
    background-color: rgb(117, 223, 250); 
   }

   ::placeholder { 
    color: white; 
   } 
   .reg-detail input { 
    border: 3px solid rgb(255, 255, 255); 
    font-size: medium; 
    color: white; 
    border-radius: 10px; 
    width: 69%; 
    padding: 5px 4px; 
    margin: 10px 55px; 
    background-color: rgb(240, 155, 27); 
   } 
   .reg-detail label { 
    margin: 19px; 
    font-size:22px; 
   } 
   .option{ 
     
    position:relative; 
   left:80px; 
   color: rgb(240, 155, 27); 
   line-height: 40px; 
   width:69%; 
   height:35px; 
   border-radius: 10px; 
   padding: 0 22px; 
   font-size: 16px; 
   border: 3px solid rgb(255, 255, 255); 
   color: rgb(209, 99, 9);  
   outline:none; 
   overflow:hidden; 
   }  
   .option option{ 
    font-size:20px; 
   } 
   #coustomer{ 
    margin-left:25px; 
   color:white; 
   font-size:16px; 
   }  
   .regbtn { 
    text-align: center; 
    padding: 30px; 
   } 
   .regbtn button{ 
    background-color:#e68e3b;
 
   display:block; 
   margin:40px 0px 0px 270px; 
   text-align:center; 
   border-radius:12px; 
   border:2px solid #ffffff; 
   padding:14px 110px; 
   outline:none; 
   color:white; 
   cursor:pointer; 
   transition:0.25px; 
   }  
   .regbtn button:hover{ 
    background-color:#5390F5; 
   }  
   footer { 
    margin: 12px 23px; 
    text-align: center; 
    background-color: rgb(252, 125, 125); 
    color: white; 
   } 
   footer p { 
    padding: 4px; 
   } 
   