body { 
    font-family: Arial, Helvetica, sans-serif; 
    background-color:#975b00; 
   } 
   * { 
    box-sizing: border-box; 
   } 
   h1 { 
    font-size: 2em; 
    text-align: center; 
    color: #975b00; 
   } 
   p { 
    font-size: 20px; 
    text-align: center; 
    color: #975b00; 
   } 
   .container { 
    padding: 30px; 
    width:70%; 
    margin-left: 15%; 
    background-color: white; 
   } 
   #name, #email, #phone, #date, #time { 
    width: 100%; 
    padding: 10px; 
    margin: 5px 0 22px 0; 
    display: inline-block; 
    border-radius: 10px; 
    border: 3px solid #975b00; 
    background: #f1f1f1; 
   } 
   #date { 
    width: 50%; 
   } 
   #time {
 
    width: 50%; 
   } 
   #city { 
    width: 24%; 
    padding: 10px; 
    margin: 5px 0 22px 0; 
    display: inline-block; 
    border: none; 
    background: #f1f1f1; 
   } 
   hr { 
    border: 1px solid #1c2e50; 
    margin-bottom: 25px; 
    width: 100%; 
   } 
   label{ 
    color:#1c2e50; 
    font-size: large; 
   } 
   .registerbtn { 
    background-color: #09b409; 
    color: white; 
    padding: 16px 20px; 
    margin: 8px 0; 
    border: none; 
    cursor: pointer; 
    width: 100%; 
    opacity: 0.9; 
   } 
   .registerbtn:hover { 
    opacity: 1 
   }